.first-hightlight-wrapper {
    background-image: url(../../../images/home/palm.jpg);
    height: 580px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fbfbfd;
    text-align: center;
    padding: 65px 20px;
    color: #fff;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .first-hightlight-wrapper {
        background-image: url("../../../images/home/palm.jpg");
        min-height: 692px;
    }

}

.pro-con {
    background-color: rgba(0, 0, 0, 0.7);
}